<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809295179342-s0ofkldqj5s9n3ffk8b5f6pt27schucq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809295179342-s0ofkldqj5s9n3ffk8b5f6pt27schucq</string>
	<key>API_KEY</key>
	<string>AIzaSyD8HG3qbJPtNJzwiIoDphoIbjJ8ytEJ5s0</string>
	<key>GCM_SENDER_ID</key>
	<string>809295179342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sina.QuranTranslation</string>
	<key>PROJECT_ID</key>
	<string>app-test-1a1c7</string>
	<key>STORAGE_BUCKET</key>
	<string>app-test-1a1c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809295179342:ios:af3db8bae499632b6bdd1f</string>
</dict>
</plist>