<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>dummy_test</key>
  <string>success dummy</string>
  <key>dummy_test_2</key>
  <string>success test 2</string>
</dict>
</plist>